<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1><i class="fa fa-fw fa-bolt"></i>{{title}}</h1>
        </div>
    </div>
    <div class="row main-container">
        <div class="col-2">
            <nav>
                <a routerLink="/jobs" routerLinkActive="active">
                    <h3><i class="fa fa-fw fa-database"></i> Jobs</h3>
                </a>
                <a routerLink="/createJob" routerLinkActive="active">
                    <h3><i class="fa fa-fw fa-gears"></i>Create Job</h3>
                </a>
                <a routerLink="/createJob" routerLinkActive="active">
                    <h3><i class="fa fa-fw fa-sitemap"></i>Clusters</h3>
                </a>

                <a target="_self" href="/home/index">
                    <h3><i class="fa fa-fw fa-sitemap"></i>Clusters Old</h3>
                </a>
            </nav>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>