<div class="container-fluid">
    <h1>
        Cluster Calculation <i class="fa fa-fw fa-calculator"></i>
    </h1>
    <svg #clusterSvg attr.height="{{svgHeight}}" attr.width="{{svgWidth}}" class="cluster-svg" (window:resize)="resize()">

        <circle outsideClick="true" container="body" containerClass="cluster-popup" placement="right" *ngFor="let cluster of clusters" (click)="activeCluster=cluster" [popover]="clusterPopup" [popoverTitle]="cluster.popoverTitle" attr.cx="{{cluster.x}}" attr.cy="{{cluster.y}}" attr.r="{{cluster.size}}" attr.stroke="{{cluster.stroke}}" stroke-width="4" attr.fill="{{cluster.fill}}" />
        <circle *ngFor="let doc of documents"  attr.cx="{{doc.x}}" attr.cy="{{doc.y}}" attr.r="5" attr.stroke="{{doc.stroke}}" stroke-width="4" attr.fill="{{doc.fill}}"/>

    </svg>
</div>

<ng-template #clusterPopup>
    <span class="badge badge-pill badge-success">{{activeCluster.si}}</span>
    <span class="badge badge-pill badge-default">{{activeCluster.id}}</span>
    <div class="display-4" *ngFor="let doc of activeCluster.clusterJobDocuments">
        {{doc.name}}
    </div>
</ng-template>