<div class="container-fluid">
    <h4 class="display-4">
        <i class="fa fa-fw fa-gears"></i> Create Job 
        <small class="text-muted">Select documents for analysis</small>
    </h4>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th>
                            <i [class.fa-square-o]="!allDocsSelected" [class.fa-check-square-o]="allDocsSelected" (click)="selectAllDocuments()" class="fa"></i>                           
                        </th>

                        <th>Document Name</th>
                        <th>Terms</th>
                        <th class="upload-menu">
                            <div class="btn-group" role="group" aria-label="Upload Menu" [hidden]="hideGlobalMenu()">
                                <button type="button" (click)="uploadAll()" class="btn btn-sm btn-info">
                                    <i class="fa fa-fw fa-cloud-upload"></i> Upload All
                                </button>
                                <button type="button" (click)="removeAllUploads()" class="btn btn-sm btn-warning">
                                    <i class="fa fa-fw fa-close"></i> Remove All
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr [ngClass]="{'table-info': doc.isSelected}" *ngFor="let doc of documents; trackBy:docIdTracker">
                        <th scope="row">
                            <i [hidden]="!doc.id" [class.fadeIn]="doc.isNew" [class.fa-square-o]="!doc.isSelected" [class.fa-check-square-o]="doc.isSelected" (click)="doc.isSelected = !doc.isSelected" class="fa"></i>
                            <i (click)="uploadDocument(doc)" [hidden]="doc.id" class="fa upload-mini-btn" [class.fa-gear]="doc.isUploading" [class.fa-spin]="doc.isUploading" [class.fa-cloud-upload]="!doc.isUploading"></i>
                        </th>
                        <td>
                            {{doc.name}} 
                            <span [hidden]="!doc.isNew" [class.fadeIn]="doc.isNew" class="badge badge-pill badge-success">New</span>
                        </td>
                        <td>{{doc.totalTermDocCount}}</td>
                        <td class="upload-menu"> 
                            <div class="btn-group" role="group" aria-label="Basic example" [hidden]="doc.id || doc.isUploading">
                                <button type="button" (click)="uploadDocument(doc)" class="btn btn-sm btn-info">
                                    <i class="fa fa-fw fa-cloud-upload"></i> Upload
                                </button>
                                <button type="button" (click)="removeDocument(doc)" class="btn btn-sm btn-warning">
                                    <i class="fa fa-fw fa-close"></i> Remove
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <div class="row">
                <nav class="nav col-10 offset-2 justify-content-end fixed-bottom navbar-light bg-faded fixed-footer">
                    <div class="container">
                        <div class="row">

                            <nav class="col-2 pagination " aria-label="...">
                                <ul class="pagination">
                                    <li [ngClass]="{'disabled': currentPage == 0}" class="page-item">
                                        <a (click)="changePage(-1)" class="page-link" tabindex="-1" href="javascript:void(0)">
                                            <i class="fa fa-fw fa-arrow-circle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item disabled">
                                        <span class="page-link">Page {{currentPage+1}}</span>
                                    </li>
                                    <li [ngClass]="{ 'disabled': currentPage == (totalPages-1) || totalPages == 0 }" class="page-item">
                                        <a (click)="changePage(1)" class="page-link" href="javascript:void(0)">
                                            <i class="fa fa-fw fa-arrow-circle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            <p class="col-3 lead">
                                <strong>{{getAvailableDocuments().length}}</strong> documents available.
                            </p>
                            <p class="col-3 lead">
                                <strong>{{getSelectedDocuments().length}}</strong> documents selected.
                            </p>
                            <p [hidden]="!uploader.queue.length || getUploadingDocuments().length" class="col-4 lead">
                                <strong>{{uploader.queue.length}}</strong> documents queued for upload.
                            </p>
                            <div class="progress col-4" [hidden]="!getUploadingDocuments().length">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" [attr.aria-valuenow]="getPercentCompleted()" aria-valuemin="0" aria-valuemax="100" [style.width.%]="getPercentCompleted()">
                                    <span [hidden]="getPercentCompleted() < 2">{{getPercentCompleted()}}%</span>
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" [attr.aria-valuenow]="100 - getPercentCompleted()" aria-valuemin="0" aria-valuemax="100" [style.width.%]="100 - getPercentCompleted()">
                                    <span [hidden]="(100 - getPercentCompleted()) < 20">{{getUploadingDocuments().length}} Remaining</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input [disabled]="!docsLoaded" id="docfile" name="docfile" type="file" ng2FileSelect [uploader]="uploader" multiple webkitdirectory directory />
                    <label (click)="setFocusEvent()" for="docfile" class="btn btn-secondary">Choose Documents</label>
                    <button (click)="startProcessingJob()" [disabled]="getSelectedDocuments().length < 2 || uploader.isUploading || documents.length == 0" type="button" class="btn btn-primary">Start Processing Job</button>
                </nav>
            </div>
        </div>
    </div>
</div>