h4 small {
    font-size:60%;
    font-weight:300;
}

table {
    margin-bottom:66px;
}

table th:first-child {
    width:40px;
    text-align:center;
}

table th:first-child i {
    cursor:pointer;
}

nav {
    border-top:solid 1px #eee;
    padding:10px;
}

input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

/*input[type=file] + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

input[type=file]:focus + label,
input[type=file] + label:hover {
    background-color: red;
}*/

input[type=file] + label {
    margin-bottom:0;
    margin-right:12px;
}

input[type=file]:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.upload-menu {
    text-align:center;
}