<div class="container-fluid">
    <h4 class="display-4"><i class="fa fa-fw fa-gears"></i> Create Job <small class="text-muted">Select documents for analysis</small></h4>
    <div class="row">
        <div class="col-12">
            <button (click)="startProcessingJob()" type="button" class="btn btn-primary">Start Processing Job</button>
            <table class="table table-hover table-sm table-bordered">
                <thead>
                    <tr>
                        <th>
                            <i [class.fa-square-o]="!allDocsSelected" [class.fa-check-square-o]="allDocsSelected" (click)="selectAllDocuments()" class="fa"></i>                           
                        </th>

                        <th>Document Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [ngClass]="{'table-info': doc.isSelected}" *ngFor="let doc of documents">
                        <th scope="row">
                            <i [class.fa-square-o]="!doc.isSelected" [class.fa-check-square-o]="doc.isSelected" (click)="doc.isSelected = !doc.isSelected" class="fa"></i>
                        </th>
                        <td>{{doc.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>