<div class="container-fluid">
    <h1><i class="fa fa-fw fa-database"></i> Jobs</h1>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Document Count</th>
                        <th>Created</th>
                        <th>Dimensions</th>
                        <th>Total Calculation Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let job of jobs">
                        <th scope="row">{{job.id}}</th>
                        <td>{{job.documentCount}}</td>
                        <td>{{job.created | date:'medium' }}</td>
                        <td>{{job.dimensions}}</td>
                        <td>{{job.totalCalculationTimeString}}</td>
                        <td [ngSwitch]="job.status">

                                <span *ngSwitchCase="jobStatus.New" class="badge badge-primary">
                                    <i class="fa fa-fw fa-bolt"></i> New
                                </span>


                                <span *ngSwitchCase="jobStatus.BuildingMatrix" class="badge badge-info">
                                    <i class="fa fa-fw fa-hourglass-start"></i> Building Term/Doc Matrix
                                </span>

                                <span *ngSwitchCase="jobStatus.SVD" class="badge badge-warning">
                                    <i class="fa fa-fw fa-microchip"></i> Running SVD
                                </span>

                                <span *ngSwitchCase="jobStatus.Completed" class="badge badge-success">
                                    <i class="fa fa-fw fa-check-square-o"></i> Completed
                                </span>

                                <span *ngSwitchCase="jobStatus.Failed" class="badge badge-danger">
                                    <i class="fa fa-fw fa-bomb"></i> Failed
                                </span>

                                <i *ngIf="job.status == jobStatus.BuildingMatrix || job.status == jobStatus.SVD" class="fa fa-spinner fa-pulse fa-fw"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>