.display-4 {
    font-size:1.5rem;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.cluster-calculation-table {
    margin-top:12px;
}

td.status {
    white-space:nowrap;
}

.row .job-data {
    font-weight:400;
}

td, tbody th {
    vertical-align:middle;
    text-align:center;
}

td.loading {
    vertical-align:middle;
    text-align:center;
}