<div class="container-fluid">
    <h1>Visualize 
        <i class="fa fa-fw fa-area-chart"></i>
        <button type="button" class="btn btn-sm btn-info" popoverTitle="Job Details" placement="right" [popover]="jobDetailsPopover" containerClass="job-detail-modal" [outsideClick]="true">
            <i class="fa fa-fw fa-tachometer"></i> Job Details
        </button>
    </h1>
    <ng-template #jobDetailsPopover>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4">Number Of Documents: </h1>
                </div>
                <div class="col-6">
                    <h1 class="display-4 job-data">{{job.documentCount}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4">Created: </h1>
                </div>
                <div class="col-6">
                    <h1 class="display-4 job-data">{{job.created | date:'medium'}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h1 class="display-4">Number Of Dimensions: </h1>
                </div>
                <div class="col-6">
                    <h1 class="display-4 job-data">{{job.dimensions}}</h1>
                </div>
            </div><div class="row">
                <div class="col-6">
                    <h1 class="display-4">Total Calculation Time: </h1>
                </div>
                <div class="col-6">
                    <h1 class="display-4 job-data">{{job.totalCalculationTimeString}}</h1>
                </div>
            </div>

        </div>
    </ng-template>
    <!--<div class="row">
        <svg #jobViewport class="col-12">
            <circle class="circleClass" cx="1" cy="1" r="26" />
        </svg>
    </div>-->
   
    <div class="row">
        <div class="col-12">
            <div class="card cluster-calculation-table">
                <h3 class="card-header display-4">

                    Cluster Calculations

                    <button type="button" class="btn btn-sm btn-primary" (click)="showCreateClusterCalcModal()">
                        <i class="fa fa-fw fa-gears"></i> Create
                    </button>

                </h3>
                <div class="card-block">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-sm table-hover table-striped table-bordered ">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Optimal Cluster Count</th>
                                            <th>Created</th>
                                            <th>Global Si</th>
                                            <th>Global Cluster Si</th>
                                            <th>Minimum Cluster Count</th>
                                            <th>Maximum Cluster Count</th>
                                            <th>Iterations Per Cluster</th>
                                            <th>Maximum Optimization Count</th>
                                            <th>Total Calculation Time</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let clusterCalculation of clusterCalculations">
                                            <th scope="row">{{clusterCalculation.id}}</th>
                                            <td [ngClass]="{'loading': isClusterCalculating(clusterCalculation)}">
                                                <span *ngIf="!isClusterCalculating(clusterCalculation)">{{clusterCalculation.clusterCount}}</span>
                                                <i *ngIf="isClusterCalculating(clusterCalculation)" class="fa fa-spinner fa-pulse fa-fw"></i></td>
                                            <td>{{clusterCalculation.created | date:'medium' }}</td>
                                            <td [ngClass]="{'loading': isClusterCalculating(clusterCalculation)}">
                                                <span *ngIf="!isClusterCalculating(clusterCalculation)">{{clusterCalculation.globalSi}}</span>
                                                <i *ngIf="isClusterCalculating(clusterCalculation)" class="fa fa-spinner fa-pulse fa-fw"></i>
                                            </td>
                                            <td [ngClass]="{'loading': isClusterCalculating(clusterCalculation)}">
                                                <span *ngIf="!isClusterCalculating(clusterCalculation)">{{clusterCalculation.clusterSi}}</span> 
                                                <i *ngIf="isClusterCalculating(clusterCalculation)" class="fa fa-spinner fa-pulse fa-fw"></i>
                                            </td>
                                            <td>{{clusterCalculation.minimumClusterCount}}</td>
                                            <td>{{clusterCalculation.maximumClusterCount}}</td>
                                            <td>{{clusterCalculation.iterationsPerCluster}}</td>
                                            <td>{{clusterCalculation.maximumOptimizationsCount}}</td>
                                            <td>{{clusterCalculation.totalCalculationTimeString}}</td>
                                            <td class="status" [ngSwitch]="clusterCalculation.status">

                                                <span *ngSwitchCase="clusterCalculationStatus.New" class="badge badge-primary">
                                                    <i class="fa fa-fw fa-bolt"></i> New
                                                </span>

                                                <span *ngSwitchCase="clusterCalculationStatus.Clustering" class="badge badge-info">
                                                    <i class="fa fa-fw fa-hourglass-start fa-spin"></i> Clustering
                                                </span>

                                                <span *ngSwitchCase="clusterCalculationStatus.Completed" class="badge badge-success">
                                                    <i class="fa fa-fw fa-check-square-o"></i> Completed
                                                </span>

                                                <span *ngSwitchCase="clusterCalculationStatus.Failed" class="badge badge-danger">
                                                    <i class="fa fa-fw fa-bomb"></i> Failed
                                                </span>
                                            </td>
                                            <td>
                                                <a [hidden]="clusterCalculation.status != clusterCalculationStatus.Completed" role="button" [routerLink]="['/clusterCalculation', clusterCalculation.id]" class="btn btn-primary btn-sm">
                                                    <i class="fa fa-fw fa-cubes"></i>
                                                    View Results
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>