h3.display-4 {
    font-size:1.5em;
}

.display-4 { 
    font-size:1em;
}

.cluster-calculation-table {
    margin-top:12px;
}

td.status {
    white-space:nowrap;
}

.row .job-data {
    font-weight:400;
}

td, tbody th {
    vertical-align:middle;
    text-align:center;
}

td.loading {
    vertical-align:middle;
    text-align:center;
}

.card-header button, h1 button {
    margin-left:22px;
}